{% extends 'student/layout.html.twig' %}

{% block title %}Mon profil / Espace étudiant{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('student_index') }}">Espace étudiant</a></li>
            <li class="breadcrumb-item active">Mon profil</li>
        </ol>
    </nav>
{% endblock %}

{% block student_content %}
{% include 'member/_profile.html.twig' %}
{% endblock %}