{% extends 'layout.html.twig' %}

{% block title %}Profil de hhhhhhh {% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
            <li class="breadcrumb-item active">
                Profil deuuuuuuu 
            </li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h1 class="text-center text-dark mb-5">Page de profil</h1>
    <h1>Adding a new Member</h1>

        {{ form_start(form) }}

            {{ form_row(form.image) }}
        {{ form_end(form) }}
{% endblock %}