{% extends 'admin/layout.html.twig' %}

{% block title %}Mon historique / Espace admnistrateur{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Espace admnistrateur</a></li>
            <li class="breadcrumb-item">Mon historique</li>
        </ol>
    </nav>
{% endblock %}

{% block admin_content %}
    {% include "historic/_list.html.twig" %}
{% endblock %}