{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item active">FAQ</li>
        </ol>
    </nav>
{% endblock %}


{% block title %} FAQ {% endblock %}

{% block content %}

    <h1 class="text-center text-dark mb-2">Foire aux questions </h1>

    <div class="card m-4">
        <h5 class="card-header"> Lorem ipsum dolor sit amet, consectetur adipiscing elit ? </h5>
        <div class="card-body">
            <p class="card-text">
                Aliquam et velit sit amet ante consequat interdum at ut justo.
                Phasellus posuere fermentum nisl. Morbi vitae metus eu ex consectetur laoreet vitae vel purus.
                Nunc nec orci libero. Aenean eleifend est eget suscipit suscipit.
            </p>
            <p class="card-text">
                Donec risus mauris, finibus ac ultrices at, rutrum in tellus.
                Donec in convallis turpis. Donec lobortis a ipsum a consequat.
                In eget elit a lorem imperdiet pretium. Fusce in consequat risus.
                Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Fusce et ornare urna. Pellentesque et nulla imperdiet, consectetur leo in, blandit nisi.
            </p>
            <a href="#" class="btn btn-primary"> imperdiet </a>
        </div>
    </div>

    <div class="card m-4">
        <h5 class="card-header"> Maecenas purus lorem, pharetra sed turpis vel, fringilla facilisis eros ? </h5>
        <div class="card-body">
            <h5 class="card-title"> Morbi ultricies enim lacus, ut sodales nulla elementum non. </h5>
            <p class="card-text">
                Maecenas odio quam, ultricies quis est sit amet, blandit scelerisque sapien.
                Mauris eu ultrices justo, non posuere tellus.
                Vivamus fringilla purus in libero iaculis malesuada.
                Proin blandit ex consequat lorem varius interdum. Aenean ac eros quam.
            </p>
        </div>
    </div>

    <div class="card m-4">
        <h5 class="card-header"> Etiam ipsum risus, pulvinar ut convallis eget, cursus id lectus ? </h5>
        <div class="card-body">
            <p class="card-text">
                Suspendisse condimentum laoreet sapien eu consectetur.
                Proin tempor in lacus et malesuada.
                Curabitur non purus et odio rhoncus bibendum.
                Pellentesque vehicula tellus sed sapien tempus porta.
                Aenean volutpat augue quis mauris malesuada mattis.
                Aenean dignissim libero et nulla sollicitudin iaculis.
                Cras mollis sapien tortor, quis rutrum lorem gravida et.
                Nulla molestie nisi odio, eu volutpat lectus porttitor at.
            </p>
        </div>
    </div>

    <div class="card m-4">
        <h5 class="card-header"> Curabitur blandit imperdiet varius ? </h5>
        <div class="card-body">
            <p class="card-text">
                Suspendisse condimentum laoreet sapien eu consectetur.
                Proin tempor in lacus et malesuada.
                Curabitur non purus et odio rhoncus bibendum.
                Pellentesque vehicula tellus sed sapien tempus porta.
                Aenean volutpat augue quis mauris malesuada mattis.
                Aenean dignissim libero et nulla sollicitudin iaculis.
                Cras mollis sapien tortor, quis rutrum lorem gravida et.
                Nulla molestie nisi odio, eu volutpat lectus porttitor at.
            </p>
            <a href="/" class="btn btn-primary"> Accueil </a>
        </div>
    </div>

{% endblock %}