<footer id="mainFooter">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 146.8">
        <path class="cls-1" d="M1366,146.8H0V4.8C306.34-11.63,532,17,685,47.8c43.24,8.71,60.17,13.47,117,24,0,0,239.93,44.44,563.9,60h.1"/>
    </svg>

    <div class="content">
        <div class="container pt-2 mt-2 text-center">
            <div class="row">
                <div class="col">
                    <h3>Cours</h3>

                    <ul>
                        <li><a href="#">Cours 1</a></li>
                        <li><a href="#">Cours 2</a></li>
                        <li><a href="#">Cours 3</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Offres</h3>

                    <ul>
                        <li><a href="#">Offre 1</a></li>
                        <li><a href="#">Offre 2</a></li>
                        <li><a href="#">Offre 3</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>FAQ</h3>

                    <ul>
                        <li><a href="/qanda">Question 1</a></li>
                        <li><a href="/qanda">Question 2</a></li>
                        <li><a href="/qanda">Question 3</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container d-flex justify-content-sm-between pt-5 mt-5">
            <p><a href="#">Nous contacter</a></p>
            <p>© Nom du site 2019-2020</p>
        </div>
    </div>
</footer>