{# templates/emails/password.html.twig #}
<h3>
Hello {{ name }}! Your password has been successfully updated. </h3>

<h5>
Hi, You have requested a new password. To access the MySchool application, 
you can use the following coordinates. login : {{ login }} and password : {{ password }}
</h5>

{# example, assuming you have a route named "login" #}

{# To login, go to: <a href="{{ url('login') }}">...</a>.
#}

Thanks!
