{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
            <li class="breadcrumb-item active">Live</li>
        </ol>
    </nav>
{% endblock %}


{% block title %} Live {% endblock %}

{% block content %}

    <h1 class="text-center text-dark mb-2"> Live </h1>

{% endblock %}